/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f5ff;
}

/* Header */
header {
    background-color: #6a0dad;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Food cards */
.card {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Button */
button {
    background-color: #6a0dad;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #8a2be2;
}
